@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --primary-color: #e8e8e8;
    --secondary-color: #c8c8c8;
    --accent-color: #ffc107;
}

body {
    font-family: 'Lora', serif;
}

#countryImg {
    width: 20px !important;
}

#root {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

img {
    width: 100% !important;
    border-top-left-radius: 10px !important;
}

li {
    list-style: none !important;
    display: flex;
}

.row {
    border: 5px solid var(--primary-color) !important;
    border-radius: 15px;
    height: auto;
    transition: all 0.3s ease;
}

.bg-custom {
    background-color: var(--primary-color);
    
}

.bg-name {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

div .bg-name {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
}

.filter {
    visibility: hidden;
    opacity: 0;
    order: 1;
}


@media (min-width: 767px) {
    
    #root {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 50px;
    }
    
}

/* @media (min-width: 1200px) {
    #root {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
} */